# 1. ARQUIVO DE SEGREDOS - NUNCA SUBIR
.env

# 2. Banco de dados (não deve ir pro git)
*.db
dados/

# 3. Cache do Python
__pycache__/
*.pyc
venv/

# 4. Dados de Teste
testes/1_input/
testes/2_cortados/
testes/3_transcricoes/
testes/4_analises/
backend/tests_audio/audios_brutos/
venv_local/