services:
  server:
    build: ./backend
    container_name: balto-server-prod
    ports:
      - "8765:8765"
    volumes:
      # Banco (já existia)
      - balto-dados:/backend/app/dados

      # NOVO: pasta de áudios mapeada para o host
      - ./audio_dumps:/backend/app/audio_dumps
    env_file:
      - ./backend/.env
    restart: unless-stopped

volumes:
  balto-dados:
