services:
  server:
    build: ./backend
    container_name: balto-server-prod
    ports:
      - "8765:8765"
    volumes:
      - balto-dados:/backend/app/dados



      # (2) IMPORTANTE: mantém o volume antigo montado como "legacy"
      #     (não perde áudios já existentes no named volume)
      - balto-audio:/backend/_audio_volume_legacy:ro

      # seu bind do código (ok manter)
      - ./backend:/backend

    env_file:
      - ./backend/.env
    environment:
      - RUN_STARTUP_TEST=1
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: balto-db-prod
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
    restart: unless-stopped

  log-monitor:
    build: ./backend
    container_name: balto-log-monitor
    command: python -u log_monitor.py
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - ./backend/.env
    environment:
      - APP_UID=0  # Necessário para ler o /var/run/docker.sock
      - APP_GID=0
    restart: unless-stopped
    depends_on:
      - server

volumes:
  balto-dados:
  postgres-data:
  balto-audio:
