websockets>=11.0
aiohttp
numpy
scipy
noisereduce
webrtcvad-wheels
elevenlabs
openai
requests
resemblyzer
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
python-dotenv
ffmpeg-python
assemblyai
imageio-ffmpeg
